.card {
    box-shadow: 0 9px 16px 0 rgba(2,2,1,0.5);
    transition: 0.3s;
    border-radius: 50px; /* 5px rounded corners */
    border: 2px solid #1d60a5;
    width: 350px;
    min-height: 300px;
    margin: auto;
    text-align: center;
    /*flex-direction: column; !* Размещаем элементы в колонку *!*/

}

/* При наведении на карточку - меняем цвет тени */
.card:hover {
    box-shadow: 0 12px 16px 0 rgba(2,2,0,0.8);
}

/* Add some padding inside the card container */
.container {
    display: flex; /* Расположение карточек в строку */
    gap: 20px;
 }

/* Контейнер для картинки */
.card__image {
    width: 100%;   /* устанавливаем ширину */
    height: 220px;  /* устанавливаем высоту */

}

.back_button {
    background: #1d60a5;
    border-radius: 7px;
    padding: 0.45em 0.45em;
    color: #ffffff;
    font-size: 1.1em;
    text-transform: capitalize;
    border: 1px solid #f1f1f1;
    width: 140px;
}
.back_button:hover {
    background-color: #d7e5f4; /* Цвет фона при наведении */
    border: 2px solid #1d60a5;
    color: #184a7e;
}
.auth_button {
    background: #67676a;
    border-radius: 10px;
    padding: 0.3em 0.3em;
    color: #ffffff;
    font-size: 0.9em;
    text-transform: capitalize;
    border: 2px solid #5b5b60;
    width: 220px;
}
.auth_button:hover {
    background-color: #d6d6da; /* Цвет фона при наведении */
    border: 2px solid #5b5b60;
    color: #5b5b60;
}
.reg_button {
    background: #1d60a5;
    border-radius: 10px;
    padding: 0.3em 0.3em;
    color: #ffffff;
    font-size: 0.9em;
    text-transform: capitalize;
    border: 2px solid #1b5188;
    width: 220px;
}
.reg_button:hover {
    background-color: #d6d6da; /* Цвет фона при наведении */
    border: 2px solid #1d60a5;
    color: #1d60a5;
}
.main_button {
    background: #d7e5f4;
    border-radius: 10px;
    padding: 0.3em 0.3em;
    color: #1d60a5;
    font-size: 0.9em;
    text-transform: capitalize;
    border: 2px solid #1d60a5;
    width: 150px;
}
.main_button:hover {
    background-color: #1d60a5; /* Цвет фона при наведении */
    border: 2px solid #1d60a5;
    color: #d6d6da;
    font-weight: bold;
}
.add_button {
    background: #1d60a5;
    border-radius: 10px;
    padding: 0.3em 0.3em;
    color: #ffffff;
    font-size: 0.9em;
    border: 2px solid #1d60a5;
    width: 190px;
}
.add_button:hover {
    background-color: #d6d6da; /* Цвет фона при наведении */
    border: 2px solid #1d60a5;
    color: #134578;
}
.page_button {
    background: #5b5b60;
    border-radius: 10px;
    padding: 0.3em 0.3em;
    color: #ffffff;
    font-size: 0.9em;
    border: 2px solid #5b5b60;
    width: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-buttons {
    display: flex;
    justify-content: space-between;
}
.right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: right;
    align-items: normal;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    word-break: break-all;
}

.faded-image {

    width: 15%; /* или желаемая ширина */
    height: auto; /* сохраняем пропорции */

}
.inputer {
    background: #ffffff;
    padding: 0.5em 1.5em;
    color: #000000;
    font-size: 1em;
    margin-top: 20px;
    border: 1px solid #256db5;
    border-radius: 10px;
    width: 170px;
}
.inputer:hover {
     transform: scale(1.05);
}

.inputer_main {
    background: #ffffff;
    padding: 0.5em 1.5em;
    color: #000000;
    font-size: 1em;
    margin-top: 20px;
    border: 1px solid #256db5;
    border-radius: 10px;
    width: 170px;
}

.out_button {
    background: #d6d6da;
    border-radius: 10px;
    padding: 0.3em 0.3em;
    color: #5b5b60;
    font-size: 0.9em;

    text-transform: capitalize;
    border: 2px solid #5b5b60;
    width: 150px;
}
.out_button:hover {
    background-color: #5b5b60; /* Цвет фона при наведении */
    border: 2px solid #5b5b60;
    color: #d6d6da;
    font-weight: bold;
}
.main_button {
    background: #d7e5f4;
    border-radius: 10px;
    padding: 0.3em 0.3em;
    color: #1d60a5;
    font-size: 0.9em;
    text-transform: capitalize;
    border: 2px solid #1d60a5;
    width: 150px;
}



.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.pagination button {
    margin: 0 5px;
    background-color: #1468c3; /* Основной цвет кнопки */
    color: white; /* Цвет шрифта */
    font-size: 1.2em;
    border: none; /* Убираем бордер */
    padding: 10px 15px; /* Внутренние отступы */
    border-radius: 5px; /* Скругления углов */
    cursor: pointer; /* Указатель курсора при наведении */
    transition: transform 0.1s, background-color 0.2s; /* Плавный переход */
}

.pagination button:hover {
    background-color: #007bff; /* Цвет при наведении */
}

.pagination button:active {
    transform: scale(0.9); /* Уменьшение размера кнопки */
    background-color: #004494; /* Цвет при нажатии */
}

.pagination button:focus {
    outline: none; /* Убираем обводку при фокусе */
}


