
 {% include "search.html" %}

    <div style="text-align-last: center">
           {% if errors %}
			    <div style="color: red;">{{errors[0].detail}}</div>
		    {% endif %}
        {% if user_locations %}
         <h2 style="color: #1d60a5;">Сохраненные локации</h2>
            <div class="container">
                {% for location in user_locations %}
                <div class="card">
                    <h2>{{ location.name }}</h2>
                    <p> {{ location.country }}, {{ location.state }}</p>
                    <div class="card__image">
                      <img src="{{ location.main | image_path }}" alt="Image">
                    </div>
                    <p> {{ location.main }}</p>
                    <p>  {{ location.temp }} °C</p>
                    <p> Ощущается как: {{ location.feels_like }} °C</p>
                    <p> Ветер {{ location.wind_speed }} м/с</p>
                    <form action='/delete_location' method="post">
                        <input name="location_id" type="hidden" id="location_id" value="{{location.location_id}}">
                        <button class="add_button" type="submit">Удалить из локаций </button>
                    </form>
                </div>
                     {% endfor %}
            </div>
        </div>
        {% endif %}