{% include "search.html" %}
    <div style="text-align-last: center">
<!--           {% if error %}-->
<!--			    <div style="color: red;">{{error.detail}}</div>-->
<!--		    {% endif %}-->
        {% if user_locations %}
         <h2 style="color: #1d60a5;">Сохраненные локации</h2>
            <div class="container">
                {% for location in user_locations %}
                <div class="card">
                    <h2>{{ location.name }}</h2>
                    <p> {{ location.country }}, {{ location.state }}</p>
                    <div class="card__image">
                      <img src="{{ location.main | image_path }}" alt="Image">
                    </div>
                    <p style="font-weight: bold;"> {{ location.main }}</p>
                    <p style="font-weight: bold;">  {{ location.temp }} °C</p>
                    <p> Ощущается как: {{ location.feels_like }} °C</p>
                    <p> Ветер {{ location.wind_speed }} м/с</p>
                    <form action='/delete_location' method="post">
                        <input name="location_id" type="hidden" id="location_id" value="{{location.location_id}}">
                        <input name="current_page" type="hidden" id="current_page" value="{{current_page}}">
                        <input name="location_name" type="hidden" id="location_name" value="{{location.name}}">
                        <button class="add_button" type="submit">Удалить из локаций </button>
                    </form>
                </div>
                     {% endfor %}
            </div>
        <div style="text-align-last: center">
            <form action='/' method="get">
                <div class="row">
                     Pages: {% for page in range(1, total_pages +1) %}
                        <button class="page_button"
                                name="page"
                                type="submit"
                                value="{{ page}}"
                                >{{page}}
                        </button>
                    {% endfor %}
                     </div>
            </form>
        </div>
         </div>
        {% endif %}