{% include "search.html" %}
    <div style="text-align-last: center">
        <h2 style="color: #1d60a5;">Найденные локации</h2>
        {% if error %}
			<div style="color: red;">{{errors.detail}}</div>
		{% endif %}
         {% if not locations %}
             <p>Локации не найдены</p>
         {% endif %}
    </div>
    <div class="container">
        {% for location in locations %}
        <div class="card">
            <h3>{{ location.name }}</h3>
                <div class="card__image">
                    <img src="{{loop.index| image_number }}" alt="Image">
                </div>
            <p>Страна: {{ location.country }}</p>
            {% if location.state %}
                <p>Находится в: {{ location.state }}</p>
            {% else %}
                <p>Находится в: -</p>
            {% endif %}
            <form action='/add_location' method="post">
                <input name="name" type="hidden"  id="name" value="{{location.name}}">
                <input name="lat" type="hidden" id="lat" value="{{location.lat}}">
                <input name="lon" type="hidden" id="lon" value="{{location.lon}}">
                <input name="country" type="hidden" id="country" value="{{location.country}}">
                <input name="state" type="hidden" id="state" value="{{location.state}}">
                <button type="submit" class="add_button">Добавить в сохраненные</button>
            </form>
       </div>
        {% endfor %}
    </div>
