<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wheather</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
 	<form action='/' method="get">
        <button class="main_button">Главная</button>
    </form>
    <div style="text-align-last: center">
        <h2 style="color: #1d60a5;">Регистрация</h2>
		{% if errors %}
		{% for error in errors %}
			<div style="color: red;">{{loop.index}}. {{error.detail}}</div>
		{% endfor %}
		{% endif %}
        <div style="text-align-last: center">
	<form action='/register' method="post">
		<div>
			<input class="inputer"
				   id="login"
				   maxlength="20"
				   minlength="2"
				   name="login" placeholder="Введите логин"
				   required
				   type="text"/>
			<span class="validity"></span>
		</div>
		<div>

			<input class="inputer"
				   id="password"
				   maxlength="20"
				   required
				   minlength="2"
				   name="password"
				   placeholder="Введите пароль"
				   type="password"/>
			<span class="validity"></span>
		</div>
		<div>
			<input class="inputer"
				   id="repeated_password"
				   maxlength="20"
				   required
				   minlength="2"
				   name="repeated_password"
				   placeholder="Повторите пароль"
				   type="password"/>
			<span class="validity"></span>
		</div>
			<h3> <button  class="reg_button" type="submit">Зарегистрироваться</button></h3>
	</form>

</div>
    </div>
    </body>
</html>