<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wheather</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
<div class="container-buttons">
     <form action='/' method="get">
        <button class="main_button">Главная</button>
    </form>
    {% if request.cookies.get('user_access_token') %}
        <form action='/logout' method="post">
         <button class="out_button">Выйти</button>
        </form>
    {% endif %}
</div>
{% if request.cookies.get('user_access_token') %}
    <h4 style="color: #1d60a5;" class="right"> Пользователь: {{request.cookies.get('username') }}  </h4>
{% endif %}
<div style="text-align-last: center" class="row">
   <img  src="/static/images/main2.jpg" alt="Image">
</div>
    <div style="text-align-last: center">
        {% if error %}
			<div style="color: red;">{{error}}</div>
		{% endif %}
        {% if not request.cookies.get('user_access_token') %}
         <div>
                <form action='/token' method="post">
                    <div >
                        <label for="login"> </label>
                        <input class="inputer"
                               id="login"
                               maxlength="20"
                               minlength="2"
                               name="login" placeholder="Введите логин"
                               required
                               type="text"/>
                        <span class="validity"></span>
                    </div>
                    <div >
                        <label for="password"></label>
                        <input class="inputer"
                               id="password"
                               maxlength="20"
                               minlength="2"
                               name="password"
                               placeholder="Введите пароль"
                               type="password"/>
                        <span class="validity"></span>
                    </div>
                    <h3><button type="submit" class="auth_button">Авторизоваться</button> </h3>
                </form>
                <form action='/registration' method="get">
                    <h3><button class="reg_button">Зарегистрироваться</button></h3>
                </form>
            </div>
             </div>

         {% else %}
         <div class="row">
            <form action='/locations' method="get">
                <input class="inputer"
                   id="player1_name"
                   maxlength="20"
                   minlength="2"
                   name="city" placeholder="Введите локацию"
                   required
                   size="20"
                   type="text"/>
                <span class="validity"></span>
                <button class="back_button" type="submit">Найти</button>
            </form>
         {% endif %}
    </div>
    </body>
</html>